@model IEnumerable<ELearning.Models.Course>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Courses";
}

<h2>Available Cources</h2>

@{
    if (ViewBag.role == "ADMIN" || ViewBag.role == "INSTRUCTOR")
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<div class="container">
    <div class="row">
        @foreach(var item in ViewBag.OnePageOfProducts)
        {
            <div class="col-md-4">
                
                <div class="jumbotron"  style="height:60ch;">
                    <div>
                        <img src="~/Content/Images/@item.Image" class="img-responsive img-thumbnail" style="max-height:150px;" />
                        <h3>

                            @Html.ActionLink((string)item.Name, "Details", new { id = item.ID })

                        </h3>
                        @if (item.Price <= 0)
                        {
                            <span class="label label-primary " style="float:right">Free</span>
                        }
                        else
                        {
                            <span class="label label-default " style="float:right">$@item.Price</span>
                            <input class="btn btn-default" type="button" value="Pay" onclick="location.href='@Url.Action("Index", "PayWithCard",new { Cid=item.ID})'" />


                            //new { id = Model.ID }
                            if (ViewBag.role == "STUDENT" || ViewBag.role == "")
                            {
                                foreach (var c in ViewBag.purchased)
                                {
                                    if (ViewBag.userID == c.ApplicationUser.Id && c.Course.ID == item.ID)
                                    {
                                        <span class="label label-success " style="float:right">Purchased</span>
                                    }
                                    @*else if(c.Course.ID != item.ID)
                                    {
                                        <span class="label label-default " style="float:right">$@item.Price</span>
                                        <input class="btn btn-default" type="button" value="Pay" onclick="location.href='@Url.Action("Index", "PayWithCard",new { Cid=item.ID})'" />
                                       
                                    }*@
                                }
                                //if (c.Course.ID != item.ID)
                                //       {
                                @*foreach (var p in ViewBag.purchased)
                                {

                                    if (ViewBag.userID != p.ApplicationUser.Id)
                                    {
                                        <p>@p.ApplicationUser.Id</p><br />
                                        <p>@ViewBag.userID</p><br />

                                        <span class="label label-default " style="float:right">$@item.Price</span>
                                        <input class="btn btn-default" type="button" value="Pay" onclick="location.href='@Url.Action("Index", "PayWithCard",new { Cid=item.ID})'" />
                                    }
                                }*@


                                //}
                                @*if (ViewBag.pur == "true")
                                {
                                    <span class="label label-success " style="float:right">Purchased</span>
                                }
                                else
                                {
                                    <span class="label label-default " style="float:right">$@item.Price</span>
                                    <input class="btn btn-default" type="button" value="Pay" onclick="location.href='@Url.Action("Index", "PayWithCard",new { Cid=item.ID})'" />
                                }*@


    }
                        }
                    </div>
                   
                    <p style="text-align:left ; font-size:smaller; color:gray">
                        <b>By : </b>
                        @item.ApplicationUser.FullName
                    </p>
                    <hr />
                    <p style="overflow:hidden;height:5ch; max-height:5ch; font-size:18px;">
                         @item.Discription
                    </p>

                    @{
                        if (ViewBag.role == "ADMIN" || ViewBag.role == "INSTRUCTOR")
                        {
                            <p style="font-size:small;">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </p>
                        }
                        else
                        {
                            <p style="font-size:small">
                                @Html.ActionLink("Details", "Details", new { id = item.ID })
                            </p>

                        }
                    }
                    
                    

                </div>

            </div>
        }

       @*@foreach (var p in ViewBag.purchased)
        {

       // <p>@p.ID</p><br />
        <p>@p.ApplicationUser.Id</p><br />
        
        <p>@p.Course.ID</p><br />
       }*@

        
    </div>
</div>
@*<h2>List of Products</h2>
    <ul>
        @foreach (var product in ViewBag.OnePageOfProducts)
        {
            <li>@product.Name</li>
            
        }
    </ul>*@
<center>
    

    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))
</center>