@model IEnumerable<ELearning.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>Available Cources</h2>

@{
    if (ViewBag.role == "ADMIN" || ViewBag.role == "INSTRUCTOR")
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        <th>
            Owner
        </th>
        <th></th>
    </tr>*@

    @*@foreach (var item in Model)
    {*@
        @*<tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>*@
                @*<p>@ViewBag.role </p>*@

                @{
                    @*if (ViewBag.role == "ADMIN" || ViewBag.role == "INSTRUCTOR")
                    {
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.ActionLink("Details", "Details", new { id = item.ID })
                        </p>

                    }*@
                }

                @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
            @*</td>
        </tr>
                    }
    
    
</table>*@

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {            
            <div class="col-md-4">
                <div class="jumbotron"  style="">
                    <h3 >
                        
                        @Html.ActionLink(item.Name, "Details", new { id = item.ID })
                        
                    </h3>
                    <hr />
                    <p style="overflow:hidden;height:5ch; max-height:5ch; font-size:18px;">
                        @Html.DisplayFor(modelItem => item.Discription)
                    </p>

                    @{
                        if (ViewBag.role == "ADMIN" || ViewBag.role == "INSTRUCTOR")
                        {
                            <p style="font-size:small;">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </p>
                        }
                        else
                        {
                            <p style="font-size:small">
                                @Html.ActionLink("Details", "Details", new { id = item.ID })
                            </p>

                        }
                    }
                    <p style="text-align:right ; font-size:smaller">
                        <b>Created by: </b>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                    </p>

                </div>

            </div>
        }
        
    </div>
</div>