<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-LEARNING</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E-LEARNING", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.Partial("_Categories")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Add Role", "Index", "Role")</li>
                    <li>@Html.ActionLink("Course", "Index", "Courses")</li>
                    <li>@Html.ActionLink("Video", "Index", "Videos")</li>
                    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                    <li>@Html.ActionLink("Forum", "Index", "Forum")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - E-LEARNING</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        var $iframe = $('iframe'),
            $videoLink = $('.video-link'),
            playerTemplate = '<div class="player"><div class="player__video"><div class="video-filler"></div><button class="video-close">&times;</button><iframe class="video-iframe" src="{{iframevideo}}" frameborder="0" allowfullscreen></iframe></div><div/>';

        $videoLink.on('click', function (e) {
            var localTemplate = '',
                videoWidth = parseInt($(this).data('width')),
                videoHeight = parseInt($(this).data('height')),
                videoAspect = (videoHeight / videoWidth) * 100,
                // elements
                $player = null,
                $video = null,
                $close = null,
                $iframe = null;

            e.preventDefault();

            localTemplate = playerTemplate.replace('{{iframevideo}}', $(this).prop('href'));

            $player = $(localTemplate);

            $player
                .find('.video-filler')
                .css('padding-top', videoAspect + '%');

            $close = $player
                .find('.video-close')
                .on('click', function () {
                    $(this).off().closest('.player').hide().remove();
                });

            $player.appendTo('body').addClass('js--show-video');
        });


    </script>

    @* Getting subcatagories Based on selection *@
    <script type="text/javascript">
        
            function GetSubCat() {

                debugger;
                var catId = $("#CategoryDropDown").val();
                // alert('first ' + catId);
                $.ajax
                    ({
                        url: '/Courses/GetSubCat/' + catId,
                        type: 'POST',
                        datatype: 'application/json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            catId: +catId
                        }),

                        success: function (result) {
                            // alert(result);
                            $("#subCategoryDropDown").prop("disabled", false); 
                            $("#subCategoryDropDown").html("");
                            $.each($.parseJSON(result), function (i, city) {
                                $("#subCategoryDropDown").append
                                    ($('<option></option>').val(city.ID).html(city.Name))
                               
                            })

                        },
                        error: function () {
                            $("#subCategoryDropDown").html("");
                            $("#subCategoryDropDown").append
                                ($('<option></option>').val(-1).html("--Select sub-Category--"))
                            //alert("Whooaaa! Something went wrong..")
                        },
                    });
            }
      
    </script>  


    @*<script type="text/javascript">
            $(document).ready(function () {
                $('.navbar a.dropdown-toggle').on('click', function (e) {
                    var $el = $(this);
                    var $parent = $(this).offsetParent(".dropdown-menu");
                    $(this).parent("li").toggleClass('open');

                    if (!$parent.parent().hasClass('nav')) {
                        $el.next().css({ "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 });
                    }

                    $('.nav li.open').not($(this).parents("li")).removeClass("open");

                    return false;
                });
            });

        </script>*@
</body>
</html>

