@model ELearning.Models.Videos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Videos</h4>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <video class="img-thumbnail img-responsive" controls>
                    <source src="~/Content/Videos/@Model.FilePath" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
